.body{font-size:14px
margin:16px;}
#title{
    font-size:20px;
    color: #FF0000;
    font-weight: bold;
    margin: 20px;
    }

#button{
display: inline-block;
background-color: #0000FF;
  border: none;
  color: white;
  margin: 16px;
  padding: 16px;
  text-align: center;
  font-size: 15px;
  text-transform: uppercase;
  cursor: pointer;
  position     : absolute;

}
#name { border: 1px solid #FFFF00; }